body {
    margin: 0;
}

.gqe > * .bg {
    background-color: #F6F8F8;
    text-align: center;
}

.centerLogin {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 25%;
}

.centerLogin > * {
    padding: 0 0 0 0;
}

#loginWrapper {
    text-align: center;
}

.gqeTop {
    margin-top: 0.3%;
    height: 4.7%;
}

.gqeFeature {
    height: 3.5%;
    margin-bottom: 0.6em;
}

.gqeContent {
    height: 86%;
}

/*.gqeBottom{
    height: 2%;
    text-align: center;
    margin : 1% 0 0.8% 0;
}*/

.gqe > * .container {
    height: 94%;
}

.gqe > * .container-top {
    height: 50%;
}

.gqe > * .container-bottom {
    height: 50%;
}

.editorHeight {
    height: 50%;
}

.resultHeight {
    height: 50%;
}

.container-top > *, .container-bottom > * {
    width: 100%;
    height: 100%;
}

/*.gqe >* .container-bottom * .ui-widget-header:first-child{
    margin-bottom: 0.7em !important;
}*/

.gqe > * .container-right {
    height: 100%;
}

.pullLeft {
    margin-left: -3.7%;
}

.gqe > * .editorMode {
    position: absolute;
    padding-left: 40%;
    font-size: 1.45em;
    font-weight: 600;
}

.gqe > * .editorSwitch {
    display: block;
    float: left;
    margin-right: 2em;
}

.gqe > * .h-toggleable {
    height: 6%;
}

#gqeEditorContainer > .ui-panel {
    width: 100%;
}

#contentRight > .ui-panel {
    height: 100%;
}

#gqeDbStructure {
    /*overflow: hidden;*/
}

.hiddenOverflow {
    overflow: auto;
}

#gqeEditor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 83%;
    width: 100%;
}

.height-88 {
    height: 92% !important;
}

#saveQuery {
    margin-left: 3em;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

/*Modal Dialog Styles*/

.modalDialog > * {
    font-size: 125%;
}

.functionCallSection {
    margin-top: 1em;
}

#guidedQuery {
    width: 100%;
    height: 20%;
}

.panel-border {
    border: 1px solid #337ab7;
    border-radius: 4px;
    padding-top: 1.5em;
}

.panel-border-error {
    margin-top: 2%;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    padding-top: 1.5em;
}

.panel-border-error > div {
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;

}

.panel-row-danger {
    border-top: 1px solid;
    border-color: #d43f3a;
}

.fade-success {
    background-color: #BCF5BC !important;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.underline{
    border-bottom: 1px dotted #000;
}

/* Style fixes for Primefaces */

.ui-widget {
    font-size: 75%;
}

.ui-grid-row > * form {
    margin-bottom: 0.2em;
}

.ui-tabs-panels > div:first-child {
    padding: 0;
}

