<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf/passthrough">

    <!--row-->
    <!--col col-expandable col-shrinkable (onClick(extend col-expandable, hide col-shrinkable)) -->
    <div id="cotentLeft" class="ui-grid-col-2">

        <div class="ui-grid-row container container-top" id="gqeDbStructure">
            <p:panel header="#{string['gqe.dbStructure']}" styleClass="hiddenOverflow">
                <!-- TREE Component
                    http://www.primefaces.org/showcase/ui/data/tree/basic.xhtml -->
                <p:tree value="#{dashboardView.databaseTreeData.root}"
                        var="node" dynamic="true" style="width: 100%">
                    <p:treeNode>
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                </p:tree>
            </p:panel>
        </div>

        <div class="ui-grid-row container container-bottom">
            <p:panel id="gqeQueryInfo">
                <f:facet name="header">
                    #{string["gqe.queryInfo"]}
                </f:facet>

                <p class="bold">#{string["gqe.queryInfo.execTime"]} #{queryManager.queryResults.queryInfo.execTime} ms</p>

                <p class="bold">#{string["gqe.queryInfo.totalResults"]} #{queryManager.queryResults.queryInfo.totalResults}</p>

                <p class="bold">#{string["gqe.queryInfo.rowsAffected"]} #{queryManager.queryResults.queryInfo.rowsAffected}</p>

                <p:commandButton id="queryStringBtn" value='#{string["gqe.queryInfo.queryString"]}' type="button"/>
                <p:overlayPanel id="queryStringOverlay" for="queryStringBtn" hideEffect="fade">
                    <p:outputLabel> #{queryManager.queryResults.queryInfo.queryString}</p:outputLabel>
                </p:overlayPanel>
            </p:panel>
        </div>
    </div>

    <div id="contentCenter" class="ui-grid-col-8">

        <p:dialog id="dialogElement" header="Query Details" widgetVar="ZoomDialog" modal="true" height="550"
                  onShow="__gqe__.initZoomDialog()"
                  onHide="__gqe__.disposeZoomDialog()">
            <div id="tableContent"></div>
        </p:dialog>

        <div class="ui-grid-row container container-top" id="gqeEditorContainer">
            <p:panel header="SQL Editor">
                <f:facet name="header">
                    <h:outputText styleClass="bold float-left" value="SQL Editor"/>
                    <p:commandButton type="button" id="saveQuery" value="Guided Query"
                                     style="float:right; background-color: #f0ad4e;" icon="fa fa-bookmark"
                                     form="resultsForm"
                                     onclick="__gqe__.toggleGuidedQueryDialog()"/>
                </f:facet>

                <!--Guided Dialog Component-->
                <ui:include src="guidedDialog.xhtml"/>

                <div id="gqeEditor">SELECT * FROM actor where actor_id &lt; 20;</div>
            </p:panel>
        </div>

        <div class="ui-grid-row container-bottom" id="gqeResults">
            <p:tabView id="tabView">
                <p:tab title="Query Results">
                    <p:panel>
                        <f:facet name="header">
                            <!-- <p:commandButton type="button" value="#{string['gqe.queryResults']}" icon="fa fa-list-ol"
                                              styleClass="ui-priority-secondary" style="float:left"/>-->
                            <p:commandButton id="hideResults" type="button" style="float: right"
                                             icon="fa fa-angle-double-down"
                                             onclick="__gqe__.toggleResultsComponent()"/>
                            <p:commandButton id="toggler" type="button" style="float:right"
                                             icon="fa fa-fw fa-pie-chart"/>
                            <p:commandButton type="button" style="float:right"
                                             icon="fa fa-fw fa-eye" onclick="__gqe__.toggleZoomDialog()"/>
                            <p:commandButton id="runQuery" value="Run" style="float:right; background-color: #5cb85c"
                                             icon="fa fa-play" form="resultsForm" onfocus="__gqe__.checkForGuided()"
                                             actionListener="#{queryManager.evaluateQuery}"
                                             update=":gqeQueryInfo :tabView"/>

                            <!--<p:columnToggler id="colToggler" datasource="resultsForm:gqeQueryResults" trigger="toggler"/>-->

                        </f:facet>

                        <div id="resultsBody">
                            <h:form id="resultsForm">
                                <h:inputHidden id="gqeQuery" value="#{queryManager.currentQuery}"/>
                                <!--http://www.primefaces.org/showcase/ui/data/datatable/columns.xhtml-->
                                <p:dataTable id="gqeQueryResults" var="row"
                                             value="#{queryManager.queryResults.returnedRows}"
                                             widgetVar="cols" filteredValue="" paginatorPosition="bottom"
                                             scrollable="true" scrollHeight="160" reflow="true"
                                             rowsPerPageTemplate="10,30,50"
                                             resizableColumns="true" paginator="true" rows="30" sortMode="multiple"
                                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}">

                                    <f:facet name="{Exporters}">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/export/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="gqeQueryResults"
                                                            fileName="#{dashboardView.userConnectionDetails.databaseName}"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/export/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="gqeQueryResults"
                                                            fileName="#{dashboardView.userConnectionDetails.databaseName}"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/export/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="gqeQueryResults"
                                                            fileName="#{dashboardView.userConnectionDetails.databaseName}"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/export/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="gqeQueryResults"
                                                            fileName="#{dashboardView.userConnectionDetails.databaseName}"/>
                                        </h:commandLink>
                                    </f:facet>

                                    <p:columns value="#{queryManager.queryResults.columns}" var="column"
                                               columnIndexVar="colIndex"
                                               sortBy="#{row.get(column.header)}"
                                               filterBy="#{row.get(column.header)}" field="#{columnProperty}">
                                        <f:facet name="header">
                                            <h:outputText value="#{column.header}"/>
                                        </f:facet>
                                        <h:outputText value="#{row.get(column.header)}"/>
                                    </p:columns>
                                </p:dataTable>

                            </h:form>

                        </div>
                    </p:panel>
                </p:tab>

                <p:tab id="exceptionDetails" title="Errors">
                    <div class="ui-grid ui-grid-responsive panel-border-error btn-danger ">
                        <div class="ui-grid-row btn-danger">
                            #{queryManager.queryResults.exception.exceptionSummary}
                        </div>
                        <ui:repeat value="#{queryManager.queryResults.exception.exceptionDetails}" var="line">
                            <div class="ui-grid-row" style="height:15%;background-color: #fff; color:#000000">
                                #{line}
                            </div>
                        </ui:repeat>
                    </div>
                </p:tab>
            </p:tabView>
        </div>
    </div>

    <div id="contentRight" class="ui-grid-col-2 container container-right">
        <p:panel id="horizontal" header="Options" toggleable="true" toggleOrientation="horizontal">
            <h:form>
                <p:panelMenu>
                    <p:submenu label="Application Preferences">
                        <p:menuitem value="Theme" icon="fa fa-leaf"/>
                        <p:menuitem value="Chart Type" icon="fa fa-bar-chart"/>
                        <p:menuitem value="Language" icon="fa fa-language"/>
                    </p:submenu>
                    <p:submenu label="Editor Preferences">
                        <p:menuitem value="Help" ajax="false" icon="fa fa-info-circle"/>
                        <p:menuitem value="Theme" ajax="false" icon="fa fa-leaf"/>
                        <p:menuitem value="SQL Dialect" ajax="false" icon="fa fa-question"/>
                    </p:submenu>
                    <p:separator/>
                    <p:submenu label="Guided Queries">
                        <p:menuitem value="foo" ajax="false" icon="fa fa-arrow-circle-o-right"/>
                        <p:menuitem value="lastSpectacleArtists" ajax="false" icon="fa fa-arrow-circle-o-right"/>
                        <p:menuitem onclick="__gqe__.updateQuery('newestActorsByName(100,\'C%\')')" value="newestActorsByName" ajax="true" icon="fa fa-arrow-circle-o-right"/>
                        <p:menuitem value="monthlySales" ajax="false" icon="fa fa-arrow-circle-o-right"/>
                        <p:menuitem value="monthlyIncome" ajax="false" icon="fa fa-arrow-circle-o-right"/>
                        <p:menuitem value="top20" ajax="false" icon="fa fa-arrow-circle-o-right"/>
                    </p:submenu>
                </p:panelMenu>
            </h:form>
        </p:panel>
    </div>

</ui:composition>

        <!--STATUS: -->
        <!--
            - Completed Dashboard grid system
            TODO  - start adding components - done
            TODO  - separate components if necessary (and include them) - done
        -->