<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:dialog header="Guide Query" widgetVar="guidedDialog" modal="true" height="480" width="600"
              styleClass="modalDialog" onShow="__gqe__.initDialog()"
              onHide="__gqe__.disposeDialog()">

        <div class="ui-grid ui-grid-responsive">
            <div class="panel-border">

                <div class="ui-grid-row" style="margin-bottom: 1em;">
                    <div class="ui-grid-col-1"/>

                    <h:outputLabel styleClass="ui-grid-col-2" for="gqName"
                                   value="GQ Name: " style="font-weight:bold"/>
                    <p:inputText styleClass="ui-grid-col-8" id="gqName"
                                 value="foo"
                                 placeholder="Name your query...like foo" required="true"
                                 label="GQ Name: "/>

                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-1"/>
                    <div class="ui-grid-col-11" id="guidedQuery">Preview Query(SQL)</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-1"/>
                    <table class="table" style="width: calc(100%/11*10)">
                        <caption class="text-primary">Dynamic Parameter details</caption>
                        <thead>
                        <tr>
                            <th>Identifier Type</th>
                            <th>Name</th>
                            <th>Default Value</th>
                            <th>
                                <button class='btn btn-info btn-sm' title='Reparse Query'
                                        onclick="__gqe__.reloadQueryParameters()">
                                    <i class='fa fa-refresh'/>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                    </table>
                </div>

                <div class="ui-grid-row functionCallSection">
                    <div class="ui-grid-col-1"/>
                    <div class="ui-grid-col-10">
                        <h5>Function Call example:</h5>
                        <div class="well fade-success" id="previewCall">
                            <code class="fade-success">demo(<kbd>param1</kbd>,<kbd>param2</kbd>)</code>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-1"/>
                    <div class="ui-grid-col-10">

                        <p:commandButton type="button" value="Save Query"
                                         style="float:right; background-color: #5cb85c;
                                         margin-bottom: 1em; width: 100%; padding:0.5em 0 0.5em 0;"
                                         icon="fa fa-floppy-o"
                                         form="resultsForm" onclick="__gqe__.saveQuery()"
                        />
                    </div>
                    <div class="ui-grid-col-1"/>
                </div>
            </div>


        </div>
    </p:dialog>

</ui:composition>
