<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="head">
        <style type="text/css">
            .Source {
                display: none
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Error
    </ui:define>

    <ui:define name="description">
        Page not found.
    </ui:define>

    <ui:define name="implementation">
        <div style="text-align:center">
            <p:graphicImage name="main/images/warning.png"/>
        </div>
    </ui:define>

</ui:composition>