<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="head">
        <style type="text/css">
            .Source {
                display: none
            }
        </style>
    </ui:define>

    <ui:define name="title">
        Error
    </ui:define>

    <ui:define name="description">
        A unexpected error occured! Message: #{pfExceptionHandler.message}
    </ui:define>

    <ui:define name="implementation">
        <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false"/>
    </ui:define>

    <p:ajaxExceptionHandler type="java.lang.Throwable"
                            update="exceptionDialog"
                            onexception="PF('exceptionDialog').show();" />

</ui:composition>