<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

<div class="ui-grid-col-12">
    <p:breadCrumb>
        <p:menuitem value="Home" url="#" />
        <p:menuitem value="Connected" url="#" />
        <p:menuitem value="to" url="#" />
        <p:menuitem value="#{dashboardView.userConnectionDetails.databaseName}" url="#" />
    </p:breadCrumb>
    <div id="growl"/>
</div>

</ui:composition>
