<ui:composition template="/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        #{string['gqe.login.title']}
    </ui:define>

    <ui:define name="body">
        <div class="ui-grid ui-grid-responsive" id="loginWrapper">

            <div class="ui-grid-col-8 centerLogin">

                <p:accordionPanel>
                    <p:tab title="#{string['gqe.login.panel.title']}">
                        <h:panelGrid columns="2" width="100%">
                            <p:graphicImage name="images/database_logos/postgresql.png"/>

                            <p:accordionPanel>
                                <p:tab title="#{string['gqe.login.panel.default']}">

                                    <h:form>
                                        <div id="grid" class="ui-grid ui-grid-responsive">
                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="name"
                                                               value="#{string['gqe.login.panel.form.user']}"
                                                               style="font-weight:bold"/>
                                                <p:inputText styleClass="ui-grid-col-4" id="name"
                                                             value="#{userConnectionDetails.username}" required="true"
                                                             label="#{string['gqe.login.panel.form.user']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="name"/>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="passwd"
                                                               value="#{string['gqe.login.panel.form.password']}"
                                                               style="font-weight:bold"/>
                                                <p:password styleClass="ui-grid-col-4" id="passwd"
                                                            value="#{userConnectionDetails.password}" required="true"
                                                            label="#{string['gqe.login.panel.form.password']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="passwd"/>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="dbName"
                                                               value="#{string['gqe.login.panel.form.database']}"
                                                               style="font-weight:bold"/>
                                                <p:inputText styleClass="ui-grid-col-4" id="dbName"
                                                             value="#{userConnectionDetails.databaseName}"
                                                             placeholder="pagila" required="true"
                                                             label="#{string['gqe.login.panel.form.database']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="dbName"/>
                                                </div>

                                            </div>
                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="dbHost"
                                                               value="#{string['gqe.login.panel.form.host']}"
                                                               style="font-weight:bold"/>
                                                <p:inputText styleClass="ui-grid-col-4" id="dbHost"
                                                             value="#{userConnectionDetails.databaseHost}"
                                                             placeholder="localhost" required="true"
                                                             label="#{string['gqe.login.panel.form.host']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="dbHost"/>
                                                </div>

                                            </div>
                                            <div class="ui-grid-row" style="margin-top: 0.5em">
                                                <span class="ui-grid-col-6"/>
                                                <input type="hidden" name="jdbcDriver" value="postgresql" />
                                                <p:commandButton value="#{string['gqe.login.panel.form.submit']}" id="ajax"
                                                                 actionListener="#{userConnectionDetails.connectDefault}" styleClass="ui-priority-primary" icon="fa fa-sign-in"/>

                                        </div>
                                        </div>
                                    </h:form>


                                </p:tab>
                                <p:tab title="#{string['gqe.login.panel.advanced']}">

                                    <h:form>
                                        <div id="j_grid" class="ui-grid ui-grid-responsive">


                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="j_name"
                                                               value="#{string['gqe.login.panel.form.user']}"
                                                               style="font-weight:bold"/>
                                                <p:inputText styleClass="ui-grid-col-4" id="j_name"
                                                             value="#{userConnectionDetails.username}" required="true"
                                                             label="#{string['gqe.login.panel.form.user']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="j_name"/>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <h:outputLabel styleClass="ui-grid-col-2" for="j_passwd"
                                                               value="#{string['gqe.login.panel.form.password']}"
                                                               style="font-weight:bold"/>
                                                <p:password styleClass="ui-grid-col-4" id="j_passwd"
                                                            value="#{userConnectionDetails.password}" required="true"
                                                            label="#{string['gqe.login.panel.form.password']}"/>

                                                <div class="ui-grid-col-6">
                                                    <p:message for="j_passwd"/>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row" style="margin-top: 0.5em">

                                                <h:outputLabel styleClass="ui-grid-col-2" for="jdbcUrl" value="#{string['gqe.login.panel.form.jdbc']}"
                                                               style="font-weight:bold"/>
                                                <p:inputText id="jdbcUrl" styleClass="ui-grid-col-7"
                                                             value="jdbc:postgresql://pagila.c1gude4pd8xo.us-west-2.rds.amazonaws.com:5432/pagila"
                                                             placeholder="jdbc:postgresql://localhost:5432/pagila"
                                                             />

                                                <div class="ui-grid-col-3">
                                                    <p:message for="jdbcUrl"/>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row" style="margin-top: 0.5em">
                                                <span class="ui-grid-col-6"/>
                                                <input type="hidden" name="jdbcDriver" value="postgresql"/>
                                                <p:commandButton value="#{string['gqe.login.panel.form.submit']}"
                                                                 id="j_ajax"
                                                                 actionListener="#{userConnectionDetails.connectDefault}"
                                                                 styleClass="ui-priority-primary" icon="fa fa-sign-in"/>

                                            </div>
                                        </div>
                                    </h:form>

                                </p:tab>
                            </p:accordionPanel>
                        </h:panelGrid>

                    </p:tab>
                    <p:tab title="#{string['gqe.login.panel.titleOther']}">


                        <h:panelGrid columns="10" >
                            <p:graphicImage name="images/database_logos/oracle.png"/>
                            <p/>
                            <p:graphicImage name="images/database_logos/mariaDB.png"/>
                            <p/>
                            <p:graphicImage name="images/database_logos/Microsoft.png"/>
                            <p/>
                            <p:graphicImage name="images/database_logos/Mysql.png"/>


                        </h:panelGrid>

                    </p:tab>
                </p:accordionPanel>

            </div>

        </div>
    </ui:define>
</ui:composition>
