
<ui:composition template="/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Dashboard Interface
    </ui:define>

    <ui:define name="body">
        <div class="ui-grid ui-grid-responsive" id="GqeBody">
            <p:growl widgetVar="growl" showDetail="true" autoUpdate="true"/>
            <p:socket onMessage="__gqe__.handleMessage" channel="/notify"/>


            <ui:insert name ="top"/>
            <ui:insert name ="feature"/>
            <ui:insert name ="content"/>
        </div>
    </ui:define>
</ui:composition>

<!--Dashboard has an "interface layout". Meaning that it can be extended/customized very easily-->