<ui:composition template="dashboard.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <div class="ui-grid-row gqeTop">
            <ui:include src="top/top.xhtml"/>
        </div>
    </ui:define>

    <ui:define name="feature">
        <div class="ui-grid-row gqeFeature">
            <ui:include src="feature/feature.xhtml"/>
        </div>
    </ui:define>

    <ui:define name="content">
        <div class="ui-grid-row gqeContent">
            <ui:include src="content/content-standard.xhtml"/>
        </div>
    </ui:define>

</ui:composition>