<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="ui-grid-col-12">
        <h:form>
            <p:toolbar>
                <f:facet name="left">
                    <!--Placeholder for future LOGO-->
                    <p:commandButton type="button" value="GQE" icon="fa fa-database"/>
                    <h:outputLabel styleClass="editorMode" value="Guided Query Editor"/>
                </f:facet>

                <f:facet name="right">

                    <!-- Editor Mode Toggler -->
                    <!--http://www.primefaces.org/showcase/ui/input/inputSwitch.xhtml   AJAX-->
                    <p:growl id="msg"/>

                    <!--Language Selector-->
                    <!--TODO:-->

                    <!--Settings Menu-->
                    <p:commandButton id="triggerMenuBtn" value="Menu" type="button" icon="fa fa-bars"/>
                    <p:menu overlay="true" trigger="triggerMenuBtn" my="left top" at="left bottom">
                        <p:submenu label="GQE Settings">
                            <p:menuitem value="Sign Out" icon="fa fa-sign-out" actionListener="#{topView.logout}"/>
                        </p:submenu>
                        <p:submenu label="Help">
                            <p:menuitem value="Primefaces" url="http://www.primefaces.org"/>
                        </p:submenu>
                        <p:submenu label="Contact">
                            <p:menuitem value="Email" url="mailto:nistordaniel94@gmail.com" icon="fa fa-envelope"/>
                            <p:menuitem value="University" url="http://www.primefaces.org" icon="fa fa-university"/>
                            <p:menuitem value="About" icon="fa fa-info-circle" onclick="PF('About').show();"/>
                        </p:submenu>
                    </p:menu>
                </f:facet>
            </p:toolbar>
        </h:form>
    </div>

    <p:dialog header="About" widgetVar="About" showEffect="explode" hideEffect="bounce" height="80">

        <span>#{dashboardView.copyright} Licensed under</span>
        <a href="https://opensource.org/licenses/apache2.0.php"> Apache2 license</a>
    </p:dialog>
    <!--div class="ui-grid-col-1">Logo</div>
    <div class="ui-grid-col-1"></div>
    <div class="ui-grid-col-6">Query Editor</div>
    <div class="ui-grid-col-1">Toggler</div>
    <div class="ui-grid-col-1">
        <h:form>
            <http://www.primefaces.org/showcase/ui/menu/menu.xhtml>
            <p:commandButton id="dynaButton" value="Menu" type="button" icon="fa fa-bars"/>
            <p:menu overlay="true" trigger="dynaButton" my="left top" at="left bottom">
                <p:submenu label="Ajax">
                </p:submenu>
                <p:submenu label="Non-Ajax">
                </p:submenu>
                <p:submenu label="Navigations">
                </p:submenu>
            </p:menu>
        </h:form>
    </div>
    <div class="ui-grid-col-1">lang</div>
    <div class="ui-grid-col-1">Contact</div-->

</ui:composition>

