<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://xmlns.jcp.org/jsf/html"
>

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" type="image/png" href="#{request.contextPath}/resources/main/images/favicon.png" />
    </f:facet>

    <h:outputStylesheet name="CSS/gqe-styles.css"/>
    <h:outputStylesheet name="CSS/flag-icon.min.css"/>
    <h:outputStylesheet name="CSS/bootstrap.min.css"/>
    <h:outputScript name="/javascript/login.js"/>
    <h:outputScript name="/javascript/gqe.js"/>
    <h:outputScript name="javascript/ace/ace.js"/>
    <h:outputScript name="/javascript/ace/theme-sqlserver.js"/>
    <h:outputScript name="/javascript/ace/mode-pgsql.js"/>
    <h:outputScript name="/javascript/simpleSqlParser.js"/>

    <title>
        <ui:insert name="title">Guided Query Editor</ui:insert>
    </title>
</h:head>

<h:body styleClass="gqe">
    <ui:insert name="body">Body Composition</ui:insert>
</h:body>
</html>
